node_modules
dist
.next
.expo
.turbo
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
uploads
.prisma
apps/mobile/.expo
apps/web/.next
apps/admin/.next
apps/api/dist
packages/**/dist
infra/docker/data
